<%= render 'layouts/shared/essentials' do %>
  <section class="hero is-info is-small is-bold">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container "><!--has-text-centered-->
        <div class="columns">
          <div class="column is-narrow">
            <figure class="image is-128x128" style="">
              <img src="<%= @user.gravatar_url(256) %>" style="border-radius: 10%; border: 2px solid #fff;">
            </figure>
          </div>
          <div class="column">
            <h1 class="title">
              <%= @user.display_name %>
              <!--
              <div class="tags has-addons inline-block">
                <span class="tag" style="font-size: 0.3em;">Teacher</span>
                <span class="tag is-primary" style="font-size: 0.3em;">Brisbane</span>
              </div>
              -->
            </h1>
            <h2 class="subtitle">
              <%= @user.slug %> / <%= @user.email %>
            </h2>
            <span><%= @user_post_count %> posts</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed">
        <div class="container">
          <ul>
            <li class="<%= active_class user_path(@user) %>"><%= link_to "Profile", user_path(@user) %></li>
            <li class="<%= active_class polymorphic_path([@user, Post]) %>"><%= link_to 'Posts', polymorphic_path([@user, Post]) %></li>
            <li><a>Connections</a></li>
            <!--<li><a>Friends</a></li>
            <li><a>Networks</a></li>
            <li><a>Questions</a></li>-->
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <%= yield %>
      </div>

      <div class="column">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
<% end %>
