<!--<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Account
      </h1>
    </div>
  </div>
</section>-->

<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title">Edit <%= resource_name.to_s.humanize %></h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <% f.options[:html][:class] << ' mb-2' %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, class: "input" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="field">
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <div class="control">
            <%= f.password_field :password, autocomplete: "off", class: "input" %>
            <p class="help is-info">Leave blank if you don't want to change it</p>
            <% if @minimum_password_length %>
              <p class="help is-info"><%= @minimum_password_length %> characters minimum</p>
            <% end %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, class: "label" %>
          <div class="control">
            <%= f.password_field :current_password, autocomplete: "off", class: "input" %>
            <p class="help is-info">We need your current password to confirm your changes</p>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= f.submit "Update", class: "button is-primary" %>
          </div>
        </div>
      <% end %>

      <h2 class="title is-5">Unhappy?</h2>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger mb-1" %>

      <%= link_to "Back", :back %>
  </div>
  </div>
</section>
